<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing File</title>
</head>
<body>
    <h1>File nginx.conf:</h1>
    <form action="/save" method="post">
        <input type="hidden" name="file_path" value="{{ file_path }}">
        <textarea name="content" rows="50" cols="200" style="resize: vertical;" required>{{ current_content }}</textarea><br>
        <div>
        <input type="submit" value="Save">
        </div>
    </form>
</body>
</html>
