<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dev-tool-edit-nginx-conf</title>
</head>
<body>
    <h1>Dev-Tool Edit Nginx Configuration</h1>
    <h2>Dev Tool Edit Nginx Configuration in Docker Container.</h2>
    <form action="/edit" method="post">
        <label for="container_name">Container Name:</label>
        <input type="text" id="container_name" name="container_name" required>
        <input type="submit" value="Edit nginx.conf">
    </form>
</body>
</html>
